::-webkit-scrollbar {
    margin-right: 5px;
    width: 12px;
    background-color: #000;
}

::-webkit-scrollbar-track {
    -webit-box-shadow: 0 0 2px #ccc;
}

::-webkit-scrollbar-thumb {
    background: #ffcc00;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #bbb;
    box-shadow: 0 0 8px #999 inset;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffcc00;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
    resize: none;
}

a {
    color: #ffcc00;
}

header {
    text-align: center;
}

header img {
    height: 200px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    overflow-x: hidden!important;
    background: #201e1c;
    color: #111;
    letter-spacing: 1px;
    cursor: default;
}

pre {
    display: inline-block;
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    background: #222;
    box-shadow: #000 0 2px 3px inset;
    cursor:text;
    color: #ee8;
    text-shadow: none;
    text-shadow: black 0 -1px 1px;
}

cite {
    text-decoration: none;
    font-weight: bold;
    cursor: help;
}

section[role = "main"] {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 600px;
}

footer center {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fl {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
}

.tweet_button {
    margin-bottom: 2px;
    width: 55px;
    height: 20px;
    background: url(img/twitter.png) black no-repeat;
    cursor: pointer;
}

.fork_button {
    margin-bottom: 2px;
    width: 55px;
    height: 20px;
    background: url(img/fork.png) black no-repeat;
    cursor: pointer;
}

.features,.more-info {
    margin-left: 20px;
}

.ordinary-list li {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 1em;
    list-style: none;
    text-indent: -1em;
}

.ordinary-list li:before {
    content: "\00BB \0020";
}

.ptag {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    line-height: 30px;
}

.pirate-button {
    color: #201e1c;
}

.pirate-button:hover {
    color: #201e1c;
}

.block {
    margin: 0 .2em;
    margin-top: 15px;
    padding: 30px;
    border: 1px solid rgba(0,0,0,.4);
    background-image: url(img/noise.png);
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset, rgba(255, 255, 255, .3) 0 25px 30px -12px inset, rgba(0, 0, 0, .6) 0 1px 2px;
    color: white;
    line-height: 30px;
}

#v-tooltip {
    position: absolute;
    display: none;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 11px;
    font-family: Arial, Verdana, sans-serif;
}

.service {
    margin-right: 10px;
}

.maxcdn {
    color: #F5AE34;
}

.cloudapp {
    color: #2D97DB;
}



.column {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background: url(img/waffle.png);
}

.title {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.banner {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.title-text {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-size: 25px;
    font-family: 'MolotRegular';
}

.cc {
    color: white;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica;
}

.dbox {
    height: 280px;
}

.download {
    width: 256px;
    height: 256px;
    -webkit-transform: scale(2.2) ease;
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2) ease;
}

.download:hover {
    width: 280px;
    height: 280px;
}

#github {
    position: absolute;
    top: 40px;
    right: -65px;
    z-index: 9000;
    width: 250px;
    height: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Maven Pro', Verdana, Arial;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#github span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    width: 250px;
    background: #000;
    -webkit-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
    -moz-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
    text-align: center;
    font-size: 14px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -o-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
}

#github span:last-child {
    background: #ffcc00;
    color: #000;
    opacity: 0;
}

#github:hover span:first-child {
    opacity: 0;
}

#github:hover span:last-child {
    opacity: 1;
}

@media all and (-webkit-transform-3d) {
 
    #github span {
        opacity: 1 !important;
        -webkit-transition: -webkit-transform 1s;
        -webkit-backface-visibility: hidden;
    }

    #github span:last-child {
        -webkit-transform: rotateX(180deg);
    }

    #github:hover span:first-child {
        -webkit-transform: rotateX(180deg);
    }

    #github:hover span:last-child {
        -webkit-transform: rotateX(360deg);
    };
}

.maxcdn-footer{
margin-top:25px
}
.browse-button{
margin-top:25px
}